@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@keyframes opacity {
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}

/* 
@keyframes moveUp {
    0%, 40% {
        bottom: -100px;
        opacity: 0;
        display: block !important;
    }
    10% {
        bottom: 20px;
        opacity: 1;
        display: block;
    }
    100% {
        bottom: -200px;
        display: none;
    }
} */
